---
import "@/styles/globals.css";
import type { Lingo } from "@/TypeLingo";
import LingoDetail from "../components/LingoDetail";
import Layout from "../layouts/Layout.astro";
import { getLingoPaths } from "../code/paths";

export async function getStaticPaths() {
  return await getLingoPaths();
}

const { lingo } = Astro.params;
const { data, relatedLingos } = Astro.props;
const l = data as Lingo;

const dscription = l.definitions.filter((definition) => {
  return definition.language === "en";
})[0].definition;

const shareableText = `${dscription} https://techlingo.fyi/${lingo}`;
---

<Layout
  title="TechLingo.fyi"
  description="TechLingo.fyi is a free resource for people who want to learn about the jargon and acronyms used in the tech industry."
  path=""
>
  <div class="flex items-center justify-center">
    <LingoDetail
      client:only
      shareableText={shareableText}
      data={data}
      viewingLanguage="en"
      slug={lingo}
    />
  </div>
</Layout>
